.actions {
  display: flex;
  justify-content: space-between;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 5% auto auto;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 2%;
  }
}
