<h1>Mobile Wizard</h1>

<!--Creating a game from desktop-->
<section *ngIf="isHostScreen()" class="nes-container with-title">
  <h3 class="title">Create a game</h3>
  <div id="create_room" class="item">
    <div class="nes-field">
      <label for="room_id">Room Name</label>
      <input #newRoomName type="text" id="room_id" class="nes-input" autocomplete="off" placeholder="Thierry's Office" (blur)="updateRoomName(newRoomName.value)">
    </div>
  </div>
  <button type="button" class="nes-btn is-primary" (click)="createRoom()">Create a game</button>
</section>

<!--Joining a game from mobile-->
<section *ngIf="!isHostScreen()" class="nes-container with-title">
  <div *ngIf="auth.user | async; then authenticated else guest">
    <!--template will replace this div-->
  </div>
</section>
<h5>
  <a routerLink="../credits">Credits</a>
  <span *ngIf="!deviceService.deviceIsDesktop() && !isHostScreen()"> | <a (click)="setHostScreen()">Create room</a></span>
</h5>

<ng-template #guest>
  <h3 class="title">Howdy!</h3>
  <p>Login to get started...</p>

  <button type="button" class="nes-btn is-success" (click)="auth.googleLogin()">
    <i class="fa fa-google"></i> Connect Google
  </button>
</ng-template>


<ng-template #authenticated>
  <h3 class="title">Join a game</h3>
  <div id="inputs" class="item">
    <div class="nes-field">
      <div *ngIf="auth.user | async as user">
        <p>Howdy, {{ user.displayName }}!</p>
      </div>
      <label for="rooms_available">Select a room</label>
      <input #roomName id="rooms_available" class="nes-input" autocomplete="off" placeholder="Thierry" (blur)="updateRoomId(roomName.value)">
    </div>
  </div>
  <div>
    <button type="button" class="nes-btn is-success" (click)="joinRoom()">Join a game</button>
    <button type="button" class="nes-btn is-warning" (click)="auth.signOut()">Logout</button>
  </div>
</ng-template>
