<div class="loading" *ngIf="!auth.isReady">
  <i class="loading-icon nes-icon coin is-large"></i>
</div>
<div class="container">
  <h1>Mobile Wizard</h1>

  <p class="error" *ngIf="!isPeerUp">peerserver is down. Games cannot be created right now.</p>
  <p class="error" *ngIf="!isApiUp">API is down. Games cannot be created right now.</p>

  <!--Creating a game from desktop-->
  <section *ngIf="isHostScreen()" class="nes-container with-title">
    <h3 class="title">Create a game</h3>
    <div id="create_room" class="item">
      <div class="nes-field">
        <label for="room_id">Room Name</label>
        <input #newRoomName type="text" id="room_id" class="nes-input" autocomplete="off" placeholder="Thierry's Office" (blur)="updateRoomName(newRoomName.value)">
      </div>
    </div>
    <button type="button" class="nes-btn is-primary" (click)="createRoom()">Create a game</button>
  </section>

  <!--Joining a game from mobile-->
  <section *ngIf="!isHostScreen()" class="nes-container with-title">
    <div *ngIf="auth.userDetails; then authenticated else guest">
      <!--template will replace this div-->
    </div>
  </section>
  <h5>
    <a routerLink="../credits">Credits</a>
    <span *ngIf="!deviceService.deviceIsDesktop() && !isHostScreen()"> | <a routerLink="../userstats">Game Stats</a> </span>
    <span *ngIf="!deviceService.deviceIsDesktop() && !isHostScreen()"> | <a (click)="setHostScreen(true)">Create room</a></span>
    <span *ngIf="!deviceService.deviceIsDesktop() && isHostScreen()"> | <a (click)="setHostScreen(false)">Join room</a></span>
  </h5>
</div>

<ng-template #guest>
  <h3 class="title">Howdy!</h3>
  <p>Login to get started...</p>

  <button type="button" class="nes-btn is-success" (click)="auth.googleLogin()">
    <i class="nes-icon google"></i> Google
  </button>
</ng-template>


<ng-template #authenticated>
  <h3 class="title">Join a game</h3>
  <div id="inputs" class="item">
    <div class="nes-field">
      <p>You're a wizard, {{auth.userDetails.displayName}}.</p>
      <label for="wizard_name">Nickname</label>
      <input #wizardName id="wizard_name" class="nes-input" autocomplete="off" placeholder="Harry" value="{{myWizardName}}" (blur)="updateWizardName(wizardName.value)">
      <label for="rooms_available">Room ID</label>
      <input #roomName id="rooms_available" class="nes-input" autocomplete="off" placeholder="ABC" (blur)="updateRoomId(roomName.value)">
      <span class="error">{{playerService.error}}</span>
    </div>
  </div>
  <div class="actions">
    <button type="button" class="nes-btn is-success" (click)="joinRoom()">Fight!</button>
    <button type="button" class="nes-btn is-warning" (click)="auth.signOut()">Logout</button>
  </div>
</ng-template>
