# Base Flask Packages
flask==1.0.2
flask-restful==0.3.7

# Websockets related
flask-socketio==4.2.1

# Firebase
firebase-admin==2.16.0


# database
psycopg2-binary==2.7.6
Flask-SQLAlchemy===2.2
sqlalchemy==1.2.7

# sending external requests
requests==2.21.0

# API related
flask-cors

# testing library
pytest==5.1.2

# WSGI related for deployment
gunicorn
eventlet==0.25.0

# redis
redis==3.3.6
hiredis