<div class="player">
  <section class="nes-container with-title">
    <h3 class="title">{{getMyName()}}</h3>
    <h1>{{getStatus()}}</h1>
    <div>
      <button class="nes-btn is-success" (click)="testThrow()">Throw</button>
      <button class="nes-btn is-success" (click)="testStrike()">Strike</button>
      <button class="nes-btn is-success" (click)="testDefense()">Defend</button>
    </div>
  </section>
  <button id="newGame" [class]="gameEndButton" (click)="newGame()">New Game</button>
  <button id="stats" [class]="gameEndButton" (click)="userStats()">My stats</button>
</div>
