<section class="userstats nes-container with-title">
  <h2 class="title">User:{{this.username}}</h2>
  <div class="data">
    <h4><i class="nes-icon trophy is-small"></i> Fastest Game <i class="nes-icon trophy is-small"></i></h4>
    <div>{{this.fastest_game}}s</div>
  </div>
  <div class="data">
    <h4><i class="nes-icon trophy is-small"></i> Most Damage <i class="nes-icon trophy is-small"></i></h4>
    <div>{{this.most_damage}}</div>
  </div>
  <div class="data">
    <h4><i class="nes-icon trophy is-small"></i> Most Defense <i class="nes-icon trophy is-small"></i></h4>
    <div>{{this.most_defense}}</div>
  </div>
</section>
<a routerLink="../home" class="backhome">Join room</a>
