.userstats {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}

.data {
  margin-bottom: 5%;
}

.backhome {
  font-size: small;
  margin: 0 5%;
}
