.players {
  display: flex;
}
.player {
  margin: 10px;
  width: 50%;
}

.player-canvas {
  .player-action {

  }
}

.countdown-wrapper {
  position: absolute;
  font-size: 30px;
  top: 30%;
  left: 45%;
  text-align: center;
}
