<div class="game-details">
  <h2>{{peerService.gameName}}</h2>
  <h2>Room ID: {{roomService.gameRoomId}}</h2>
</div>
<div class="players">
  <div class="player player1">
    <section class="nes-container with-title">
      <h3 class="title">Player 1: {{peerService.playerNames[1]}}</h3>
      <h1>{{status[1]}}</h1>
    </section>
  </div>
  <div class="player player2">
    <section class="nes-container with-title">
      <h3 class="title">Player 2: {{peerService.playerNames[2]}}</h3>
      <h1>{{status[2]}}</h1>
    </section>
  </div>
</div>
<button *ngIf="gameStartable()" type="button" class="nes-btn is-success" (click)="startGame()">Start Game</button>
